@CHARSET "UTF-8";

div.table-list div.index-table-list-tip {
	background-color: #FFFFC6;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	width: 145px;
	word-wrap: break-word;
	z-index: 100;
	border: 1px solid #9D9A89;
	padding: 10px 2px;
	word-wrap: break-word;
	text-align: center;
}

div.table-list table.list {
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
}

div.table-list table.list th {
	height: 16px;
	line-height: 16px;
	padding: 7px 5px;
	text-align: left;
	color: #666;
	white-space: nowrap;
	font-weight: normal;
}

div.table-list table.list th.nbg {
	background: none;
	color: #000;
}

div.table-list table.list tr td {
	border-bottom: 1px #E5E5E5 solid;
	padding: 6px 10px 6px 5px;
	height: 17px;
	line-height: 17px;
	white-space: nowrap;
	text-align: left;
	color: #666;
}

div.table-list table.list tr.title {
	background-color: #f1f1f1;
	border-bottom: none;
}

div.table-list table.list tr.highlight td {
	font-size: 16px;
	font-weight: bolder;
}

div.table-list table.list tr.highlight td.normal {
	font-size: 12px;
	font-weight: normal;
}

div.table-list table.list tr td.normal {
	width: 85px;
}

div.table-list table.list tr.last td {
	border-bottom: none;
}

div.table-list table.list tr.fade {
	height: 18px;
	line-height: 18px;
}

div.table-list table.list tr.fade th {
	color: #A8A7A7;
}

div.table-list table.list tr.fade td {
	color: #A8A7A7;
	font-size: 12px;
	border-bottom: none;
}

div.table-list table.list tr.first td {
	border-top: 1px #E5E5E5 solid;
}

div.table-list table.list tr.fade td.highlight-tip {
	cursor: pointer;
}

.arrow {
	display: inline-block;
	width: 9px;
	height: 10px;
	float: left;
}

.arrow-up {
	background-repeat: no-repeat;
	color: red;
	background-position: right 9px;
	background-image:
		url('decorator/overview-2e71f8e390065c6c09d07e5fabb3c00d.png');
	background-position: right -0px;
}

.arrow-down {
	background-repeat: no-repeat;
	color: #008000;
	background-position: right 10px;
	background-image:
		url('decorator/overview-2e71f8e390065c6c09d07e5fabb3c00d.png');
	background-position: right -30px;
}

.toggleable-hidden {
	display: none;
}

.outline-summary {
	margin-bottom: 15px;
}

.outline-summary table {
	width: 100%;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	margin: 8px 0;
}

.outline-summary .label {
	color: #497abe;
}

.outline-summary .val {
	color: #333;
	margin-right: 8px;
	font-size: 20px;
}

.outline-summary td.val0 {
	text-align: left;
}

.outline-summary td.val3 {
	text-align: right;
}

.outline-summary td {
	width: 25%;
	white-space: nowrap;
	word-wrap: nowrap;
}

.section-title {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}

.area-list,.page-list {
	width: 100%;
}

.area-list {
	table-layout: fixed;
}

.page-list td {
	line-height: 25px;
	border-bottom: 1px solid #E5E5E5;
	background-color: #FCFCFC;
	padding: 0 10px;
}

.area-list th {
	background-color: #EAEAEA;
	line-height: 20px;
	font-weight: normal;
}

.page-list th {
	background-color: #EAEAEA;
	line-height: 20px;
	padding: 0 10px;
	font-weight: normal;
}

.area-list-container {
	width: 52.5%;
}

.page-list-container {
	width: 46%;
}

.page-list-shadow {
	height: 20px;
	background-color: #EAEAEA;
}

.flash-area-td {
	overflow: hidden;
}

.page-title {
	color: #333;
}

.page-order {
	color: red;
	margin-right: 10px;
	text-align: right;
	display: inline-block;
	width: 1em;
}

.to-overview {
	margin-left: 10px;
}

.page-list-container .title,.area-list-container .title {
	height: 30px;
}

#pop-back{
	z-index:100;
	position:fixed;
	width:100%;
	height:100%;
	background:rgb(0,0,0);
	opacity:0.5;
	left:0;
	top:0;
}

#cart{
	z-index:101;
	border:0;
    position:absolute;
	width:500px;
	height:auto;
	overflow: auto;
	background: white;
	left:55%;
	top:120px;
	padding-bottom: 10px;
	margin: 0 0 0 -280px
}

#cart .header{
	padding-top: 5px;
	padding-bottom:5px;
	border: 1px #c6cfd8 solid;
	background: #fafafa url('../images/table_bg.jpg') repeat-x left bottom;
}

.cart{
	z-index:101;
	border:0;
    position:absolute;
	width:500px;
	height:auto;
	overflow: auto;
	background: white;
	left:55%;
	top:120px;
	padding-bottom: 10px;
	margin: 0 0 0 -280px
}

.cart .popheader{
	padding-top: 5px;
	padding-bottom:5px;
	border: 1px #c6cfd8 solid;
	background: #fafafa url('../images/table_bg.jpg') repeat-x left bottom;
}